<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>SECTIONS</title>

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css"
        integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
</head>
<body>
<div class="container">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <form method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="section">New Section</label>
          <input type="text" class="form-control" id="section" name="section">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Submit</button>
      </form>
    </div>
  </div>
</div>
</body>
</html>
